.wrapper {
  display: flex;
}

.instructions {
  flex: 0 0 33%;
}

.grid {
  outline: 2px solid #61dafb;
  height: 500px;
  width: 500px;
  display: inline-block;
}

.row {
  height: 50px;
}

.cell {
  width: 50px;
  height: 50px;
  outline: 1px solid #61dafb;
  display: inline-block;
}

.snake-cell {
  background-color: green;
}

.food-cell {
  background-color: red;
}

h1 {
  color: white;
}

h2 {
  color: white;
}
